.h-color{
    color: rgba(11, 37, 51, 1);
}
.i-color{
color: rgba(136, 136, 136, 1);
}
.badge-color{
    background-color: rgba(255, 0, 0, 1);
}
.btn-bg{
    background-color: rgba(255, 0, 0, 1) !important;
    color: white !important;
    font-weight: 600 !important;
}
.container-bg{
    background-color:whitesmoke;
}
.text-color{
  color:rgba(136, 136, 136, 1) ;  
  font-weight: 600;
}
.icon-color{
    color: rgba(187, 187, 187, 1);
}
.row-bg{
    background-color: rgba(243, 243, 243, 1);
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.brdr{
    border-bottom: 2px solid rgba(243, 243, 243, 1);
}
.name-color{
    color:rgba(11, 37, 51, 1) ;
}
.Link{
    text-decoration: none;
    color:rgba(11, 37, 51, 1) ;
   
}
.imgg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.off{
    color: rgba(255, 0, 0, 0.755);
    font-size: 8px;
}
.on{
    color: rgba(85, 196, 46, 1);
    font-size: 8px;
}
.red-color{
    color: rgba(255, 0, 0, 1) ;
    font-weight: 700;
}
.i-color{
    color: rgba(38, 50, 56, 0.8);
    padding-right: 5px;
}
.p-color{
    color: rgba(11, 37, 51, 1);

}
.content-color{
    color: rgba(11, 37, 51, 0.5);
    padding-right: 10px;
}
.images{
   width: 70px !important;
  height: 70px !important;  
  border-radius: 50%;
  overflow: hidden;
  padding: 0% !important;
 

} 
.imageee{
    width: 200px ;
    height: 100px;  
    padding: 0% !important;
    border: 2px solid gainsboro;
}
.imageee img{
    width:100%;
    height: 100%;
    object-fit: cover;  
}
.images img{
    width:100%;
    height: 100%;
    object-fit: cover;  
}
.widdth{
    width: 95%;
}
.namee{
    cursor: pointer;
}
/* .active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: red !important;
    border-color: red !important;
} */
/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  
  .modal-content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  .close:hover {
    color: #000;
  }
  