.h-color{
    color: rgba(11, 37, 51, 1);
}
.i-color{
color: rgba(136, 136, 136, 1);
}
.badge-color{
    background-color: rgba(255, 0, 0, 1);
}
.btn-bg{
    background-color: rgba(255, 0, 0, 1) !important;
    color: white !important;
    font-weight: 600 !important;
}
.container-bg{
    background-color:whitesmoke;
}
.text-color{
  color:rgba(136, 136, 136, 1) ;  
  font-weight: 600;
}
.row-bg{
    background-color: rgba(243, 243, 243, 1);
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.brdr{
    border-bottom: 2px solid rgba(243, 243, 243, 1);
}
.name-color{
    color:rgba(11, 37, 51, 1) ;
}
.Link{
    text-decoration: none;
    color:rgba(11, 37, 51, 1) ;
   
}
.imgg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.off{
    color: rgba(255, 0, 0, 0.755);
    font-size: 8px;
}
.on{
    color: rgba(85, 196, 46, 1);
    font-size: 8px;
}
.red-color{
    color: rgba(255, 0, 0, 1) ;
    font-weight: 700;
}
.i-color{
    color: rgba(38, 50, 56, 0.8);
    padding-right: 5px;
}
.p-color{
    color: rgba(11, 37, 51, 1);

}
.content-color{
    color: rgba(11, 37, 51, 0.5);
    padding-right: 10px;
}
.images{
   width: 70px;
  height: 70px;  
  border-radius: 50%;
  overflow: hidden;
 
} 
.images img{
    width:100%;
    height: 100%;
    object-fit: cover;  
}
.widdth{
    width: 95%;
}
.namee{
    cursor: pointer;
}
