.menu .link{
    font-size:18px !important;
    font-weight: 500 !important;
       text-decoration: none;
       color:white !important;
}
.menu li{
    padding: 15px;
}
.active{
    background-color:rgba(255, 0, 0, 1);
    padding: 6px 10px;
    border-radius: 8px;
}
.sidebar-list {
    background-color: red; /* Change the background color to your desired color */
  }
nav{
    min-height: 100vh;
}



